.JoinPage{
background-color: rgb(48, 49, 49);
width: 100vw;
height:100vh;
display:flex;
justify-content: center;
align-items: center;
}
.JoinContainer{

width:50vw;

display: flex;
flex-direction: column;
align-items: center;
}
.JoinContainer > img{
    width: 7vmax;
}
.JoinContainer > h1{
  color: antiquewhite;
  font-size: 2vmax;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 0.2vmax solid antiquewhite;
  text-align:center;
  padding: 0.5vmax;
  width: 25vmax;

}
#joininput{
    width:25vmax;
    padding: 1.4vmax;
    border:none;
    outline: none;
    font-size: 1.2vmax;
    margin: 2vmax;
    box-sizing:border-box;
}
.joinbtn{
    width:25vmax;
    padding: 1.4vmax;
    border:none;
    outline: none;
    font-size: 1.2vmax;
  background-color: rgb(73, 73, 221);
  margin-top: 2vmax;
  color: white;
  cursor: pointer;
}
.joinbtn:hover{
    background-color: brown;
}